@import url('http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif');

$fontMerri : Merriweather, Helvetica,sans-serif;
$fontBree : Bree Serif, Helvetica, sans-serif;


$colorBeige: #EEE8D6;
$colorDarkBlue: #022933;
$colorYellow: #FFBA00;
$colorBlue: #0076A3;
$colorGreen: #548C27;
$colorOrange: #F39856;
$colorRed: #D14348;
$colorPurple: #6D73C2;
